$primary: #4D6FE5;
.auth {
    height: 100vh;
    background-color: $primary;
	display: flex;
	justify-content: center;
}
.container{
	text-align: center;
	color: #fff;
	margin-top: 100px;

	> header{
		font-weight: 700;
		margin: 0 auto 60px auto;
		position: relative;
		height: 25px;
		width: 250px;
		overflow: hidden;
    }
}	
.header-headings{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	transition: all .4s cubic-bezier(.785,.135,.15,.86);

	> span{
		margin: 3px 0;
    }    
	&.sign-in{
		transform: translateY(0);
    }
	&.sign-up{
		transform: translateY(-25px);
    }
}
.options{
	display: flex;
	align-items: center;
	width: 350px;

	@media screen and (max-width: 380px){
		width: 100%;
    }    
	> li{
		cursor: pointer;
		opacity: .5;
		transition: all .2s ease;
		
		&:hover{
			opacity: 1;
        }
		&.active{
			opacity: 1;
        }
		&:nth-of-type(2){
			margin-left: 15px;
        }    
		&:last-of-type{
			margin-left: auto;
        }
    }
}